<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>username</th>
    <th>email</th>
    <th>phone</th>
    <th>website</th>
    <th>address</th>
    <th>company</th>
  </tr>
  <tr *ngFor="let personne of personnes">
    <td>{{personne.id}}</td>
    <td>{{personne.name}}</td>
    <td>{{personne.username}}</td>
    <td>{{personne.email}}</td>
    <td>{{personne.phone | phone}}</td>
    <td>{{personne.website}}</td>
    <td>{{personne.address}}</td>
    <td>{{personne.company}}</td>
  </tr>
</table>
